*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background-color: black;
}


.container{
    width: 50% auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    min-height: 80vh;
    width: 1000px;
    padding: 0 2rem;
    border-radius: 12px;
    margin-top: 5%;
    left: 45%;
    box-shadow: 0px 30px 30px rgb(39, 124, 163), 0px 0px 30px rgba(199, 241, 241, 0.5);
    background: url('/public/images/tumblr_59ef300c99dd52844009de31de95811b_a3c54a3f_2048.png');
    border-radius: 12px;
    opacity: 0.6;
    background-size: cover;
   background-repeat: no-repeat;
}


.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 45%;
    top: 10%;
    right: 0;
    opacity: 0; 
  }




@media only screen  and (max-width:800px){
    .card{
        margin-top: 60%;
        width: 100%;
        height: auto;
        background: none;
        box-shadow: none;
        color: rgba(252, 22, 6, 0.829);
        opacity: 1;
    }

    .container{
        width: 100%;
        height: auto;
        background: url('/public/images/dabi2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
    }
}