@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;   
    background-color: black;
}

.about-container{
    width: 50% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    min-height: 40vh;
    width: 750px;
    padding: 0 2rem;
    border-radius: 12px;
    margin-top: 20%;
    left: 50%;
    box-shadow: 0px 30px 30px rgb(39, 124, 163), 0px 0px 30px rgba(199, 241, 241, 0.5);
    background: linear-gradient(to right , rgba(155, 141, 141, 0.486) ,rgba(243, 236, 236, 0.322) );
    border-radius: 12px;
    opacity: 0.6;
   
}

#story{
    padding: 1rem;
    letter-spacing: 2px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: larger;
    font-weight: 600;
    color: whitesmoke;
    cursor: text;
    user-select: none;
}

/* only for mobiles and ipads and kindles, not suitable for galaxy fold but if i would update it would have been for galaxy fold  */
@media only screen  and (max-width:800px){
    .card{
        width: 100%;
        max-width: 700px;
        height: auto;
        background: none;
        box-shadow: none;
       
    }

    .card #story{
        color:rgb(8, 167, 241);
        
    }
    
    
}